 <main class="splash_screen">
  <div class="splash_text_wrap">
    <h1>Welcome To Emmacroy Budget System</h1>
  </div>
  <div class="splash_text_wrap">
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  </div>
 </main>