 <div id="splash_screen">
  <div class="splash_text_wrap">
    <h1>Welcome to Musond Budget System</h1>
  </div>
  <div class="splash_btn_wrap">
    <%= link_to "Login", new_user_session_path, class: "splash_btn", id: "login" %>
    <%= link_to "Sign up", new_user_registration_path, class: "splash_btn", id: "signup" %>
  </div>
 </div>